*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(37, 37, 37);
    color: rgb(247, 233, 215);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #292929;
    box-shadow: 0 1px 3px rgba(158, 158, 158, 0.13);
}

header h1{
    font-size: 20px;
    font-weight: 500;
}

#search_notes{
    flex:0.95;
    padding: 10px;
    border: 1px solid #000000;
    background-color:  rgb(247, 233, 215);
    color: #000000;
}

#notes_container{
    display: grid;
    grid-template-columns: repeat(
    auto-fill,
    minmax(300px, auto)
  );
    margin: 15px;
    gap: 17px;
    padding: 5px;

  grid-auto-flow: row;
}

footer{
    display: flex;
    
}

header button{
    padding: 10px;
    margin: 2px;
    background-color: rgb(247, 233, 215);
    border: none;
}

header button:hover{
    background-color: #c9c5ff9f;
    color:  black;
}

.note_card {
    background-color: rgb(247, 233, 215);
    color: #000000;

    padding: 12px;
    
    box-shadow: 0 2px 3px rgba(94, 94, 94, 0.089);

    display: flex;
    flex-direction: column;

}

input {
    margin: 5px;
    padding: 5px;    
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.13);
}

textarea {
    margin: 5px;
    padding: 5px; 
    border: none;  
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.13);
    resize: none;
    overflow: hidden;
}

#note_type_container {
    position: fixed;

    display: flex;

    align-items: center;
    justify-content: center; 
}

#note_type {
    position: fixed;
    z-index: 1001;
    display: flex;
    gap: 20px;
    background-color: rgba(247, 233, 215, 0);
    padding: 20px;
    margin: 0px;
    
}

#note_type.hidden {
    display: none;
}

#note_overlay.hidden {
    display : none;
}

#note_overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.733);

    display: flex;

    align-items: center;
    justify-content: center;    

}

#note_type button {
    padding: 30px;
    margin: 0px;
    font-size: large;
    background-color: rgb(247, 233, 215);
}
#note_type button:hover{
    background-color: #000000;
    color: rgb(247, 233, 215);
}


.hidden {
  display: none;
}

/* Kill empty white box */
#edit_note_modal:empty {
  display: none;
}

#edit_note_modal {
  width: 320px;
  padding: 12px;

  background: white;
  border: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-sizing: border-box;
}

/* Inputs */
#edit_note_modal input {
  padding: 6px;
  font-size: 14px;

  border: none;
  border-bottom: 1px solid #ccc;

  box-sizing: border-box;
}

/* Textarea */
#edit_note_modal textarea {
  padding: 6px;
  font-size: 14px;

  min-height: 120px;

  border: none;
  resize: none;

  box-sizing: border-box;
}

/* Focus */
#edit_note_modal input:focus,
#edit_note_modal textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
